body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%; /*pra não estourar a tela ou container*/
  display: block;
}

h1, p{
  margin: 0px;
}

h1 span{
  color: #FFBB00;
}

