body{
  margin: 0;
  font-family: Poppins;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  font-family: roboto;
}

a{
  text-decoration: none;
  font-family: roboto;
}

img{
  max-width: 100%; /*pra não estourar a tela ou container*/
  display: block;
  border-radius: 4px;
}

h1, p{
  margin: 0px;
}

h1 span{
  color: #FFBB00;
}

